body {
    font-family: Arial;
    background-color:white;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    
    

}
#nav{
    display: flex;
    background-color: rgb(9, 9, 14);
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
   
    
}
#Profile-image img{
    border-radius: 30px;
    zoom: 10%;
}
#tab-links{
   
    justify-content: space-between;
    

}

#tab-links a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin-left: 40px;
   
    
    

}
#session1{

    background-color: rgb(71, 176, 202);
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 40px;
    padding: 90px;
}
#session1:hover{
    background-color: rgb(149, 199, 183);
    margin: 20px;
    transition: 500ms;
}



#session{
    background-color: rgb(0, 0, 0);
    color: black;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
    color: white;
   
    padding: 30px;
}

#session:hover{
   margin: 20px;

}
#session button{
    background-color: rgb(41, 31, 192);
    color: white;
    margin: 20px;
    border-radius: 10px;
    
}
#session button a{
    color: white;
    text-decoration:none;
    zoom: 1.2;
}
#session button:hover{
    background-color: rgb(202, 105, 15);

}
#container{
    display: flex;
    gap: 30px;
}
#right{
    margin-left:100px ;
}
#left img{
    width: 100%;
    height: 80%;
    border-radius: 50px;
    zoom: 50%;
}
#container img{
    zoom: 50%;

}
#container img:hover{
    zoom: 80%;
}